<!DOCTYPE html>
<html lang="en">
        <%- include ('layouts/header'); -%>
    <body>
        <%- include ('layouts/navbar'); -%>
        <%- include ('layouts/hero'); -%>

        <!-- main content -->
        <section class="container text-center py-5">
            <div class="row">
                <div class="col">
                    <h2 class="font-weight-bold text-dark">You can book G2/G drive test from this Kiosk</h2>
                    <p class="text-left">You can book G2/G drive test from this Kiosk</p>
                    <p><span class="text-muted">Posted by </span><span class="font-weight-bold">DriveTest Center</span></p>
                </div>
            </div>
        </section>
        <% if(typeof message !== 'undefined') { %>
        <p><%= message %></p>
        <% } %>

        <%- include ('layouts/scripts'); -%>
    </body>
</html>
