<!DOCTYPE html>
<html lang="en">
    <%- include ('layouts/header'); -%>
    <body>
        <%- include ('layouts/navbar'); -%>
        <%- include ('layouts/hero'); -%>
        <!-- main content -->
        <%if (typeof message !== 'undefined') {%>
        <p><%= message %></p>
        <% } %>
        <h2>Signup</h2>
        <form action="/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="repeat_password">Repeat Password:</label>
            <input type="password" id="repeat_password" name="repeat_password" required>

            <label for="userType">User Type:</label>
            <select id="userType" name="userType">
                <option value="Driver">Driver</option>
                <option value="Examiner">Examiner</option>
                <option value="Admin">Admin</option>
            </select>

            <button type="submit">Signup</button>
        </form>
        <hr>

        <h2>Login</h2>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <%- include ('layouts/scripts'); -%>
    </body>
</html>
